
header{
    background-image:url('../../assets/media/navbar.png');
    background-color: transparent;
    text-align:center;
    background-repeat: no-repeat;
}

.sticky{
    width:100%;
    padding-top: 0.5rem;
    height:auto;
    position:fixed;
    z-index: 2;
    margin-left:9.5rem;
}

header nav ul li a{
    font-size: 1.2rem;
    font-weight:bold;
    line-height:5rem;
    letter-spacing:2px;
    margin-right: 0.8rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Kelly Slab', cursive, sans-serif;
    text-transform: uppercase;
}

header nav ul li{
    display:inline;
    text-align:center;
}


header nav ul li a:hover{
    text-shadow: 0.559px 0.829px 4px #000, 3px 3px 30px #efff66;
}

#logo{
    width: 15rem;
    height: 7rem;
    background-image: url('../media/logoHoweststone.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 200px 62px;
    overflow: hidden;
    display: block;
    position: absolute;
    margin-top:-77px;
    left:60px;
    background-color: transparent;
}

@media(max-width: 1024px) {
    #logo{
        width: 7.5rem;
        height: 3.5rem;
        background-size: 118px 52px;
        left:1rem;
    }
    .sticky{
        margin-left:0.0rem;
    }
    header nav ul li a{
        font-size:0.7rem;
        line-height:5rem;
        padding-left: 0rem;
    }
    header nav ul li a:first-of-type{
        padding-left:0.2rem;
    }
    header{
        background-size:100% 100%;
    }
}