/* begin general tags*/

@font-face {
    font-family: 'Kelly Slab';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/KellySlab-Regular.ttf");
}

h1, h2, h3,h4 {
    text-align: center;
    font-family: "Kelly Slab", sans-serif;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 3rem;
    display:block;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

strong {
    font-weight: bold;
}

/*end general tags*/


/*begin body*/
body {
    color:#E6B34B;
    line-height: 1;
    background: url('../media/bg102.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    padding-top:0.1rem;
    text-align:center;
}

/*end body*/



/*begin header*/
header {
    margin-bottom: 15px;
}
/*end header*/



/*begin aside*/
aside ul li {
    display: inline;
}

/*end aside*/


/*begin section*/
section {
    align-items: flex-start;
}

section, #landingPageForms {
    display: flex;
    justify-content: center;
}

section div:nth-child(-n+2) {
    margin-right: 20px;
}

section img {
    width: 6.25rem;
    height:auto;
}


.menu{
    border-image: url('../media/frame.png') 30 30 round;
    display:flex;
    border-style:solid;
    border-width:30px;
    margin-top: 2rem;
}
.menu ul li a, .menu ul li label{
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px black;
    margin-bottom: 2rem;
    font-size:2.2rem;
    letter-spacing: 2px;
    font-family: "Kelly Slab", sans-serif;
    cursor:pointer;
}

.menu ul li a:hover{
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px black;
    margin-bottom: 2rem;
    font-size:2.2rem;
    letter-spacing: 2px;
    font-family: "Kelly Slab", sans-serif;
    cursor:pointer;
}

.menu ul li, #play {
    text-align:center;
    margin-bottom:0.1rem;
    background-image: url("../media/menuBalk.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding:0.25rem;
}

#play{
    height:4rem;
    font-size:2.2rem;
}

.menu ul li:hover, #play:hover{
    background-image: url("../media/menuBalkGrey.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.premier{
    padding-top:2rem;
    min-height: 25rem;
    border:5px white;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.premier h3, .premier .menu{
    flex:0;
}

.pimg1, .divider{
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
.pimg1{
    background-image:url("../media/backgroundTavern.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
}
.col{
    flex: 1;
    width: 50%;
}


.divider{
    background: url('../media/line-footer-gold.51.png') top center;
    height: 4px;
    background-size:100%;
    background-color:transparent;
}

/*end section*/
/*BEGIN Second content menu*/
.ptext{
    /*position: absolute;*/
    display:block;
    margin-top: 3.125rem;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform: uppercase;
    margin-right:0.5rem;
}

.ptext .border{
    background-color:#111;
    color:white;
    font-family: "Kelly Slab",sans-serif;
    padding:0.2rem;
    border-image: url('../media/borderFrameWood.png') 30 30 round;
    border-style:solid;
    border-width:30px;
    font-size:1rem;
}

.ptext .border:hover{
    opacity: 0.7;
    cursor: pointer;
}

.ptext{
    background-color:transparent;
}
.ptext .border a{
    color:#E6B34B;
}

.pimg1 img {
    height:auto;
    display:block;
    width:30%;
    margin-right:auto;
    margin-left:auto;
}
.pimg .col .ptext{
    top: 15%;
    left: 15%;
}


/*End 2nd content menu*/
/*begin form*/
form label {
    margin-bottom: 2%;
    display: block;
}

input {
    margin-bottom: 4%;
}

input[type="submit"] {
    display: block;
}

/*end input fields*/


/*begin page specific landingpagelongin.html*/

#landingPageForms form {
    display: inline-block;
}

#landingPageForms form:first-child {
    margin-right: 5%;
}

#imageCollage {
    width: 200px;
    display: flex;
    flex-wrap: wrap;

}

#imageCollage img {
    width: 100px;
    height: 100px;

}

/*end page specific landingpagelongin.html*/


/*begin classes loginRetry.html and registerRetry*/
.retryForm {
    margin-left: 365px;
}
/*begin contact support aside*/
.contactSupport {
    border: 1px #000000 solid;
    padding: 15px;
    margin-left: 100px;
    width: 220px;
    font-size: 0.7rem;
}

.contactSupport p {
    margin-bottom: 10px;
}

.contactSupport p:nth-child(3) {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.contactSupport input {
    margin-left: 55px;
}

/*end contact support aside*/

/*end classes loginRetry.html and registerRetry*/
